{% extends 'base.html' %}
{% load static %}
{% block title %}
            O | Create Exam
         {% endblock %}


{% block body %}
    <main>
        <section class="slider-area slider-area2">
            <div class="slider-active">
              <!-- Single Slider -->
              <div class="single-slider slider-height2">
                <div class="container">
                  <div class="row">
                    <div class="col-xl-8 col-lg-11 col-md-12">
                      <div class="hero__caption hero__caption2">
                        <h1 data-animation="bounceIn" data-delay="0.2s">Create Exam</h1>
                      
                   </div>
                </div>
             </div>
          </div>          
       </div>
       </div>
       </section>
           <div class="whole-wrap">
									<div class="container box_1170">


										<div class="section-top-border">
                                            <div class="row">
                                                
                                                <div class="col-xl-12 col-lg-12 col-md-12 ">
                                                    <div class="d-flex justify-content-center ">

                                                        <li class="button-header margin-right ">Datetime picker and time picker area </li>  

                                                       
                                                    </div>
                                                                          

                                                </div>
                                            </div>
                                            <br><br>
                                            <div class="row">
												<div class="col-xl-12 col-lg-12 col-md-12">
													<h3 class="mb-30">Create Questions</h3>
													<form id="ques "action="#">

                                                    <div>
                                                        <div id="duplicater">


                                                            <div class="input-group-icon mt-10">
                                                                <div class="icon"><i class="fa fa-question" aria-hidden="true"></i></div>
                                                                <div class="form-select" id="default-select">
                                                                    <input type="text" name="question" placeholder="Type a question here..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type an answer here...'" required="" class="single-input">
                                                                </div>
                                                            </div>

                                                            <div class="input-group-icon mt-10">
                                                                <div class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
                                                                <div class="form-select" id="default-select">
                                                                    <input type="text" name="ans_1" placeholder="Type an answer here..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type an answer here...'" required="" class="single-input">
                                                                </div>
                                                            </div>
                                                            <div class="input-group-icon mt-10">
                                                                <div class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
                                                                <div class="form-select" id="default-select">
                                                                    <input type="text" name="ans_2" placeholder="Type an answer here..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type an answer here...'" required="" class="single-input">
                                                                </div>
                                                            </div>
                                                            <div class="input-group-icon mt-10">
                                                                <div class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
                                                                <div class="form-select" id="default-select">
                                                                    <input type="text" name="ans_3" placeholder="Type an answer here..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type an answer here...'" required="" class="single-input">
                                                                </div>
                                                            </div>
                                                            <div class="input-group-icon mt-10">
                                                                <div class="icon"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
                                                                <div class="form-select" id="default-select">
                                                                    <input type="text" name="ans_4" placeholder="Type an answer here..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Type an answer here...'" required="" class="single-input">
                                                                </div>
                                                            </div>

                                                            <div class="input-group-icon mt-10">
                                                                <div class="icon"><i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
                                                                <div class="form-select" id="default-select">
                                                                    <select>

                                                                        <option value="1">A</option>
                                                                        <option value="1">B</option>
                                                                        <option value="1">C</option>
                                                                        <option value="1">D</option>

                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <br><br>


                                                        </div>

                                                    </div>




                                                        <div class="col-xl-12 col-lg-12 col-md-12 ">
                                                                <div class="d-flex justify-content-center ">

                                                                    <li class="button-header margin-right "><input id="createQuestion"class="btn  btn-success"  onclick="duplicate()" type="button" value="+"></li>
                                                                </div>


                                                             </div>
                                                            <br><br>
                                                            <div class="col-xl-12 col-lg-12 col-md-12 ">
                                                                <div class="d-flex justify-content-end ">

                                                                    <li class="button-header margin-right "><input class="btn btn-primary" type="submit" value="Submit Exam"></li>
                                                                </div>


                                                            </div>
                                                            <br><br>
													</form>
												</div>
												
											</div>



                                            


									</div>
								 </div></div>
       

    </main>

    <script>
            var i = 0;
            var original = document.getElementById('duplicater');


            function duplicate() {

                var clone = original.cloneNode(true); // "deep" clone
                clone.id = "duplicater" + ++i;


                // or clone.id = ""; if the divs don't need an ID
                original.parentNode.appendChild(clone);


            }
    </script>

{% endblock%}