{% extends 'base.html' %}
{% load static %}
{% block title %}
            O | Exam Solving
         {% endblock %}


{% block body %}
     <main>
        <section class="slider-area slider-area2">
            <div class="slider-active">
              <!-- Single Slider -->
              <div class="single-slider slider-height2">
                <div class="container">
                  <div class="row">
                    <div class="col-xl-8 col-lg-11 col-md-12">
                      <div class="hero__caption hero__caption2">
                        <h1 data-animation="bounceIn" data-delay="0.2s">Solve Exam</h1>

                   </div>
                </div>
             </div>
          </div>
       </div>
       </div>
       </section>
           <div class="whole-wrap">
									<div class="container box_1170">


										<div class="section-top-border">

                                            <div class="wrapper">
                                                   <div class="container-fluid">
                                                       <form action="" method="POST">
                                                                {% if result %}

                                                                      <div class="col-lg-12 mb-12 mb-lg-12">
                                                                            <div class="alert alert-success" role="alert">
                                                                                  Sınavdan Aldığınız Puan : {{ result }}
                                                                            </div>
                                                                      </div>
                                                               {% endif %}                                                           {% for question in questions %}
                                                           <h2>{{question.examid}}


                                                                <input style=" visibility: hidden" type="text" name="question_id" value="{{ question.id }}">
                                                                        <input style=" visibility: hidden" type="text" name="correct_ans" value="{{ question.correct }}">
                                                                         <input style=" visibility: hidden" type="text" name="q_examid" value="{{ question.exam_id }}">
                                                           <div id ="duplicater">
                                                                <div class="modal-dialog">
                                                                <div class="modal-content">

                                                                    <div class="modal-header">
                                                                        <h3>Q. {{ question.context}}</h3>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="col-xs-3 5">

                                                                        </div>


                                                                        <div class="quiz" id="quiz" data-toggle="buttons">

                                                                            <label class="element-animation1 btn btn-lg btn-danger btn-block">
                                                                                <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                                                                                <input type="checkbox" id=""name="choice" value="1">
                                                                                {{ question.choice1}}
                                                                            </label>
                                                                            <label class="element-animation2 btn btn-lg btn-danger btn-block">
                                                                                <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                                                                                <input type="checkbox" name="choice" value="2">{{ question.choice2}}
                                                                            </label>
                                                                            <label class="element-animation3 btn btn-lg btn-danger btn-block active">
                                                                                <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                                                                                <input type="checkbox" name="choice" value="3">{{ question.choice3}}
                                                                            </label>
                                                                            <label class="element-animation4 btn btn-lg btn-danger btn-block">
                                                                                <span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span>
                                                                                <input type="checkbox" name="choice" value="4"> {{ question.choice4}}
                                                                            </label>

                                                                        </div>
                                                                            <br>
                                                                            <h3 style="color: #0c5460">Question Point : {{ question.point}}</h3>
                                                                    <br>
                                                                    {% if crr %}
                                                                        <h3 style="color: #0c5460">Correct Answer Number : {{ question.correct}}</h3>
                                                                    {% endif %}

                                                                    </div>
                                                                </div>
                                                                </div>
                                                           <br><br>
                                                           </div>

                                                           {% endfor %}
                                                           {% if student %}
                                                           <div class="col-xl-12 col-lg-12 col-md-12 ">
                                                                <div class="d-flex justify-content-end ">
                                                                    <li class="button-header margin-right "><input class="btn btn-primary" type="submit" value="Submit Exam"></li>
                                                                </div>
                                                            {% endif%}

                                                           </div>
                                                           <br><br>
                                                       </form>
                                                   </div>
                                            </div>


										</div>









									</div>
								</div>

    </main>

       <script>
            var i = 0;
            var original = document.getElementById('duplicater');


            function duplicate() {

                var clone = original.cloneNode(true); // "deep" clone
                clone.id = "duplicater" + ++i;


                // or clone.id = ""; if the divs don't need an ID
                original.parentNode.appendChild(clone);


            }
    </script>
{% endblock%}

